<form method="get" action="/quizes/<%= quiz.id %>/answer">
        <p>Pregunta: <%= quiz.pregunta %></p>
        <input type="text" name="respuesta" value="" placeholder="Responda Aquí">
        <input type="submit" value="Enviar">
    <p></p>
    <a href="/quizes">Volver a preguntas</a>
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<%for(index in quiz.comments){%>
    <%if(quiz.comments[index].publicado || session.user){%>
        <p>- <%= quiz.comments[index].texto %>
        <%if(session.user && !quiz.comments[index].publicado){%>
            <p>- <%=quiz.comments[index].texto%>
        <a href="/quizes/<%= quiz.id %>/comments/<%=quiz.comments[index].id%>/publish"><button>Publicar</button></a></p>
        <%}%>
      </p>
    <%}%>
<%}%>
